//main:main.less

.price_two{
	background: 
		url("../img/Rectangle5.png")no-repeat;
	background-size:98% 98%;
	padding: 190px 0 270px;
	margin-top: 20px;
}

.price_two_container{
	max-width: 875px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	h2{
		margin-bottom: 65px;
		color: @text-fff;
	}
}


.price_two_content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.price_two_item{
		max-width: 410px;
		width: 100%;
		padding: 55px 65px;
		background-color: @color-white;
		border-radius: 10px;
		box-shadow: 0 2px 5px @color-border;

		.price_two_item_title{
			font-weight: 600;
			font-size: 14px;
			line-height: 143.55%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: @color-secondary;
			margin-bottom: 10px;
			position: relative;
		}

		.price_two_item_text{
			font-size: 14px;
			line-height: 143.55%;
			color: @text-color-secondary;
		}
		.price_two_text-1,
		.price_two_text-2{
			padding-left: 100px;
		}
	}

	.price_two_item:first-child,
	.price_two_item:nth-child(2){
		margin-bottom: 60px;
	}
}

.price_two_title-1,
.price_two_title-2{
	padding-left: 100px;
}
.price_two_title-3{
	margin-top: 30px;
}
.price_two_title-4{
	padding-top: 100px;
}
.price_two_item_title:not(.price_two_title-3)::before{
	content: "";
	width: 80px;
	height: 80px;
	position: absolute;
}


.price_two_title-1::before{
	background: url("../img/book.png")no-repeat;
	background-size: cover;
	left: 0;
	top: 0;
}
.price_two_title-2::before{
	background: url("../img/copybook.png")no-repeat;
	background-size: cover;
	left: 0;
	top: 0;
}
.price_two_title-4::before{
	background: url("../img/smile.svg")no-repeat;
	top: 0;
	left: 0;
}

// style  for setting vodeo 

.price_two_content .block_video{
	padding-bottom: 105px;
}
.price_two_video{
	width: 100%;
	height: 100%;

	video{
		outline: none;
		border-radius: 10px;
	}
}

.price_two_item .video_control_block .vjs-poster{
	border-radius: 8px;
}