
/* =======header========= */

@media(max-width:1600px){
	.header_mail{
		bottom: 60px;
	}
}
@media(max-width:1340px){
	.menu_left_normal{
		display: none;
	}	

	.menu_left_mini,
	.top_menu_left .menu_left_mini li ul{
		display: block;
	}
	
	header .container_wrap .top_menu .top_menu_left .menu_left_mini a{
		color:#2F80ED;
		letter-spacing: 1px;
	}
	header .container_wrap .top_menu .top_menu_left .menu_left_mini a:active{
		filter: drop-shadow(1px 1px #2F80ED);
	}
	
	.top_menu_left .menu_left_mini li ul{
		display: none;
	}
	
	.top_menu .top_menu_left .menu_left_mini > li:not(:last-child){
		padding-right:18px;
		position: relative;
		display: inline-block;
	}
	
	.menu_left_mini li div{
		position: absolute;
		right: 0;
		top: 5px;
		border: 5px solid black;
		border-color:#2F80ED transparent transparent transparent;
	}
	
	.menu_left_mini li:hover ul{
		display: block;
		width: 100%;
		position: absolute;
		padding-top: 10px;
	}
	
	.menu_left_mini li ul li a{
		display: block;
		padding: 10px 0;
		padding-right: 20px;
	}

}


@media(max-width:1050px){
	.top_menu .top_menu_right{
		display: none;
	}
	
	.title_header{
		right: 50px;
		left: auto;
	}
	
	.title_header h1{
		font-size: 35px;
	}
	
	.header_mail{
		left: 45px;
	}

	.btn_course{
		display:inline-block;
		margin-left:15vw;
	}
	
    header .top_menu .top_menu_left .menu_left_mini .btn_course a{color:#aaa;letter-spacing: 1px;}
	
	header .top_menu .top_menu_left .menu_left_mini .btn_course a:active{
		filter: drop-shadow(1px 1px 0 #fff);
	}
	
	.top_menu .covert_menu{
		display: block;
	}
	
	.top_menu .covert_menu .menu_right_covert.open{
		display: block;
		right: 0;
	}
}


@media(max-width:750px){
	
	header .container_wrap .top_menu .top_menu_left .menu_left_mini a{
		color:#fff;
	}
	.menu_left_mini li div{
		border-color: #fff transparent transparent transparent;
	}

	.title_header{
		left:calc(50% - 145px);
		right: auto;
	}
	
	.title_header p{font-size:14px;}
	
	.title_header h1{
		font-size:30px;
	}

	.header_mail{
		bottom: 10px;
	}
	.arrow{display: none !important;}
}


@media(max-width:500px){

	.menu_left_mini li:not(:last-child),
	.menu_left_mini li:not(:last-child) a,
	.menu_left_mini li:not(:last-child) div{
		display: none;
	}
	
	.btn_course{margin: 0;}
	
	.title_header h1{
		font-size:24px;
	}
	.comment{
		left:0;
		right:0;
		margin:0 auto;
	}
}


/*        clients              */

@media(max-width:1200px){
	.clients_container .clients_container_right dl{
		min-width:280px;	
	}
}
@media(max-width:1100px){
	.clients_container{
		flex-direction:column;
	}

	.clients_container .clients_container_left{
		margin-bottom: 60px;
		width:400px;
	}
	.clients_container .clients_container_left h2{
		text-align: center;
	}
	.clients_container .clients_container_right{
		width: 620px;
	}
}

@media(max-width:700px){
	.clients_container .clients_container_right{
		width:300px;
	}
	.clients .clients_container .clients_container_right dl{
		margin-bottom:20px;
	} 
		.clients_container .clients_container_left h2{
		font-size:24px;
	}
	.clients_container .clients_container_left{
		width:300px;
	}
}
@media(max-width:500px){
	.clients{
		padding-bottom:65px;
	}
}


/*     clients_two           */

@media(max-width:1050px){
	.clients_two{
		background-size: 100% 80%;
	}
	
	.clients_two_box{
		width: 680px;
		margin: 0 auto;
		padding-left: 35px;
	}
	
	.clients_two_box h2{
		width: 400px;
		margin-left: 0;
		text-align: left;
	}
	.circle{
		display: none;
	}
	
	.clients_two_content{
		justify-content: flex-start;
	}

}


@media(max-width:750px){
	.clients_two{
		margin-top: 0;
	}
	
	.clients_two_box{
		width:auto;
		margin: 0 auto;
		padding-left: 0;
	}
	.clients_two_box h2{
		width:53vw;
		min-width: 185px;
		margin: 0 auto 60px auto;
		font-size:24px;
		
	}
	
	.clients_two_content{
		flex-direction: column;
		align-items: center;
	}
	.clients_two_content dl{
		width: 48.6vw;
		margin-bottom: 30px;
		margin-right: 0;
	}
}

@media(max-width:500px){
	.clients_two{
		background-size: 325% 100%;
		margin-top: 0;
		background-position: -80px;
		padding-bottom: 100px;
	}
}

/*      route          */


@media(max-width:1050px){
	.route{
		padding-top: 0;
		padding-bottom: 100px;
	}
	.route_container{
		padding-right:0;
		width: 595px;
		min-width:auto;
	}
	
	.route_right{
		top:auto;
		bottom:-90px;
		width: 280px;
		padding:40px;
	}
	

	.route_left dl:nth-child(odd){
		margin-right:97px;
	}
	
	.route_left dl dd{
		padding-right: 25px;
	}
	
	.route_left >a{
		display: none;
	}
	
	.route_left  .copy_text{
		display:block;
		width: 46.66vw;
		min-width: 228px;
	}
	
	.route_left .copy_text a{
		border-bottom: 1px dashed #2F80ED;
		letter-spacing: 1px;
	}
	.route_left .copy_text a:first-child{
		margin-bottom: 10px;
		display: block;
		width:200px;
	}

 }

@media(max-width:750px){
	
	.route{
	padding-bottom: 50px;	
	}
	.route_container{
		width: auto;
	}
	
	.route_container h2{
		font-size: 24px;
		text-align:center;
	}
	
	.route_left{
		flex-direction: column;	
		align-items: center;
		width: auto;
	}
	
	.route_left dl:nth-child(odd){
		margin-right: 0;
	}

	.route_left dl
	{
		width: 46.66vw;
		min-width:228px;
	}
	
	.route_left dl dd{
		padding-right:0;
	}
	
	.route_right{
		display: none;
	}
}
	
	
/*      result     	*/

@media (max-width:1250px){	

.result_container{
	width:83vw;
}

.result_content{
	justify-content: center;
}
.result_content div{
	width:39.30vw;
	padding: 3.88vw;
	padding-left: 10.41vw;
}

	.result_content div h3::before{
		left:-80px;
	} 
.result_content div:nth-child(odd){
	margin-right:40px;
}
	.result_content div p{font-size: 14px;}
	.result_content div h3{
		font-size:14px;
		margin-bottom: 20px;
	}
}

@media (max-width:950px){	

	.result{
		background-size: cover;
	}	
.result_container{
	width:566px;
}

.result_content div{
	width:566px;
	padding:56px;
	padding-left:150px;
}

	.result_content div h3::before{
		left:-95px;
	} 
.result_content div:nth-child(odd){
	margin-right:0;
}
}

@media (max-width:700px){	

.result_container{
	width:81vw;
}

.result_content div{
	width:80.85vw;
	padding:8vw;
	padding-left:21.42vw;
}

	.result_content div h3::before{
		left:-85px;
	} 
}

@media (max-width:500px){	
	
	.result_container h2{
		margin:30px 0 45px;
		text-align: center;
	}	

.result_content div{
	padding:125px 8vw 8vw;
}

	
.result_content div h3::before{
	left:0;
	top:-85px;
	} 
}


/*       warranty   */

@media(max-width:1250px){
	.warranty{
		padding-bottom:65px;
	}
	
	.warranty_video{
		display: block;
		width: 570px;
		height: 390px;
		margin: 0 auto;
	}
	
	.warranty_container h2{
		width: 570px;
    	margin: 0 auto 80px;
	}
	
	
	.warranty_video .video_item{
		display:none;
	}
	
	.warranty_content{
		width: 550px;
		margin: 0 auto;
	}
}

@media(max-width:750px){
	
	.warranty{
		padding-top: 0;
	}
	
	.warranty_container{
		width:100%;
	}
	
	.warranty_container h2{
		width:90%;
    	text-align: center;
		font-size:25px;
		margin-bottom: 40px;
	}
	
	.warranty_video{
		display: block;
		width:85vw;
		height:52vw;
	}
	
	.warranty_content{
		width:100%;
		flex-direction: column;
		align-items: center;
	}
	
	.warranty_content div{
		width:70vw;
	}
}


/*   comments     */

@media(max-width:1250px){
.comments{
	background-size:cover;
	background-position:15px; 
}

	.comments_container{
		width: 555px;
		margin: 0 auto;
	}	
	
.comments_content{
	flex-direction: column;
	align-items: center;
}
	
.comments_content div{
	margin-bottom: 130px;
}	

.comments_content div h3,
.comments_content div p{
	font-size: 14px;
}
 
	.comments_circle{
		display: none;
	}
}

@media(max-width:750px){
.comments{
	background-position:-145px;
	padding-bottom: 25px;
}

	.comments_container h2{
		text-align: center;
	}
	
	.comments_container{
		width:100%;
	}	
	
.comments_content div{
	width: 90%;
}	
 
}

/*    history   */

@media(max-width:750px){
	.history{
		padding-top:45px;
	}
	
	.history h2{
		font-size:24px;
		padding: 0 25px;
		margin-bottom: 30px;
	}
	
	.history_content div{
		width: 48.33%;
		height: 35.33vw;
		margin-bottom: 2.6vw;
	}
	.history_content div:nth-child(odd){
		margin-right: 2.6vw;		
	}
	
	#pre_left{left: 30px;}
	#next_right{right: 30px;}
	
}

/*   price    */


@media(max-width:1050px){
	
	.price_content div:last-child{
		width: 270px;
		height: 290px;
		padding:0;
		flex-direction: column;
		justify-content: center;
	}
	
	.price_content div:last-child button{
		margin-top: 35px;
	}

	.price_content div:nth-child(3),
	.price_content div:last-child{
		margin-right: 40px;
	}
	
	.circle_price_small{
		display: none;
	}
	
	.price_content > div:nth-child(3) > .circle_profitable{
		right: -60px;
	}
}

@media(max-width:500px){
	
	.price h2{
		font-size: 25px;
		padding: 0 25px;
	}
	
	.price_content{
		padding: 0;
	}
	
	.price_content div:nth-child(3),
	.price_content div:last-child,
	.price_content div{
		margin-right:0;
		margin-bottom: 25px;
	}
	
	.circle_price{
		display:none;
	}
	.price_content > div:nth-child(3) > .circle_profitable{
		right:0;
		top: 0;
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
}

/*       pricetwo     */

@media(max-width:1050px){
	
	.price_two{
		background-size: cover;
		padding: 150px 0 135px;  
	}
	
	.price_two_content > div:first-child,
	.price_two_content > div:nth-child(2),
	.price_two_content > div:last-child{
	padding:160px 60px 55px 60px;		
	}
	
.price_two_content div:first-child h3::before,
.price_two_content div:nth-child(2) h3::before,
.price_two_content div:last-child h3::before{
			left: 0;
			top: -100px;
		}
	
	.price_two_content > div:first-child{
		background-color: #fff;
		padding-top: 200px;
	}
	
	.price_two_content div:first-child h3{
		display: block;
	}
	
	.price_two_content div:first-child h3::before{
		display: block;
		top: -140px;
	} 
	
	.price_two_content div:first-child::after{
		display: none;
	}
	
	.price_two_container{
		width: 100%;
	}
	
	.price_two_container h2{
		text-align: center;
		padding: 0 25px;
	}
	
	.price_two_content > div{
		width: 39vw;
		margin: 0 4.75vw 6.2vw 0;
		min-width: 285px;
	}
	
	.price_two_content .block_video{
		padding: 5.23vw 5.7vw;
	}
	
}

@media(max-width:750px){
	.price_two_content{
		flex-direction: column;
		align-items: center;
	}
	
	.price_two_container h2{
		font-size: 25px;
	}
	
	.price_two_content > div{
		margin-right: 0;
	}
	
	.price_two_content .block_video{
		height: 100%;
		padding: 40px;
	}
}


/*   register  */
@media(max-width:1050px){
	
	.register form{
		width:700px;
		margin:0 auto;
	}
	
	.register form input{
		width: 280px;
	}
	.register form input:nth-child(2){
		margin-right: 0;
	}
}

@media(max-width:750px){
	
	.register form{
		width:100%;
		padding: 0 100px;
	}
	
	.register form input{
		margin-right: 0;
	}
	
	.register .register_circle{
		width: 110px;
		height: 110px;
		top: -60px;
		left: -20px;
	}
}

@media(max-width:550px){
	
	.register form{
		width:100%;
		padding: 0;
	}
}

/*     footer      */

@media(max-width:1050px){
	
	.copyright,
	.footer_content{
		width: 95%;
	}
	
	.copyright .policy{
		display: flex;
		flex-direction: column;
	}
}

@media(max-width:750px){

	.copyright_container .copyright{
		display: flex;
		flex-direction:column-reverse;
		align-items: center;
		text-align: center;
	}
	
	.copyright .policy{
		margin-bottom: 40px;
	}
	
	.footer_container{
		padding: 40px 0;
	}

	
	.footer_container .footer_content{
		display: flex;
		flex-direction:column;
		text-align: center;
	}
	
	.footer_content .footer_link li{
		display: block;
		margin-bottom: 15px;
	}
	
	.footer_content button{
		margin-top: 15px;
	}
}

/*     style of modul     */
@media(max-width:1350px){
	.menu_left_normal_modul > li > div{
		border: 5px solid;
		border-color:#fff transparent transparent transparent;
	}
}

/*==============================*/

/*=============modul html =================*/

/*    under_top     */
@media(max-width:750px){
	.under_top_title{
		font-size:35px;
	}
	.modul_title{font-size:30px;}
	.under_top_menu li a{
		font-size:20px;
	}
}

@media(max-width:950px){
	.modul_content{
		flex-direction: column;
		align-items: center;
	}
	.modul_content_box{
		width:100%;
		padding: 40px 15px;
	}
}


